<article class="stat-card">
  <div class="stat-header">
    @if (icon()) {
      <iconify-icon [icon]="icon()"></iconify-icon>
    }
    <div class="stat-value">{{ value() }}</div>
  </div>
  <div class="stat-label">{{ label() }}</div>
  @if (trend()) {
    <div [class]="'trend-indicator ' + trend()">
      @if (trend() === "positive") {
        <i class="pi pi-arrow-up"></i>
      } @else {
        <i class="pi pi-arrow-down"></i>
      }
      <span>{{ trendValue() }}</span>
    </div>
  }
</article>
